# Navigation
alias ls='ls --color=auto'
alias ll='ls -la'
alias la='ls -A'
alias l='ls -CF'
alias lf='ls -alF'
alias lh='ls -laFh'
alias sls='ls -lavh'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# APT shortcuts
alias upg='sudo apt update && sudo apt upgrade -y'
alias install='sudo apt install'
alias remove='sudo apt remove'
alias clean='sudo apt autoremove && sudo apt autoclean && sudo apt clean'

# System shortcuts
alias cls='clear'
alias python='python3'
alias ff='fastfetch'
alias shutdown='systemctl poweroff'
alias reboot='systemctl reboot'
alias rerun='sudo !!' 
alias status='sudo systemctl status'
alias start='sudo systemctl start'
alias stop='sudo systemctl stop'
alias restart='sudo systemctl restart'
alias srm='sudo rm -rf'
alias rm='rm -iv --preserve-root'
alias cp='cp -iv'
alias mv='mv -iv'
alias ln='ln -iv'
alias srczsh='source ~/.zshrc'
alias srcbash='source ~/.bashrc'
alias c='code .'
alias code='code .'
alias cursor='cursor .'

# Docker shortcuts
alias dc='docker'
alias dcu='docker compose up -d'
alias dci='docker images'
alias dcps='docker ps'
alias dcpsa='docker ps -a'
alias dcrm='docker rm'
alias dcrmi='docker rmi'
alias dockerclean='docker system prune -a --volumes'

# Kubernetes shortcuts
alias kc='kubectl'
alias mc='minikube'
alias kcgp='kubectl get pods'
alias kcgpw='kubectl get pods -o wide'

# Git shortcuts
alias gi='git init .'
alias ga='git add'
alias gc='git commit -m'
alias gp='git push'
alias gpl='git pull'
alias gsw='git switch'
alias gsc='git switch -c'
alias glg='git log'
alias gitgraph='git log --oneline --graph --decorate --all'
alias gitlast='git log -1 HEAD'
alias gs='git status'
alias gss='git status -sb'
alias gb='git branch'
alias gbd='git branch -d'
alias gba='git branch -a'
alias gmg='git merge'
alias gco='git checkout'
alias gcl='git clone'
alias gdf='git diff'
alias gst='git stash'
alias grs='git reset --soft'
alias grh='git reset --hard'
alias gitundo='git reset --soft HEAD~1'
alias gitunstage='git reset HEAD --'
alias gitrepair='sudo chown -R "$(whoami)":"$(id -gn)" .git'
alias gitclean='git fetch origin --prune'
alias gitlocal='git config --local commit.gpgsign false'

# AI Agents
alias cld='claude'
alias ocd='opencode'

# Miscellaneous
alias h='history'
alias rootrc='code .bashrc --no-sandbox --user-data-dir'
alias rootzrc='code .zshrc --no-sandbox --user-data-dir'
alias rootaliases='code .aliases --no-sandbox --user-data-dir'